@import url('reset.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
/* devanagari */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2)
        format('woff2');
    unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8,
        U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
        format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2)
        format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}
:root {
    --clr-dark-brown: #370411;

    --padding-x: 15rem;
}

/* text-shadow: 1px 1px 2px pink;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

*/

body {
    font-family: Poppins, sans-serif;
}

header {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}
button {
    cursor: pointer;
}
header > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
}
div.hero {
    padding: 2rem 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.hero h1 {
    font-weight: 900;
    line-height: 1;
    font-size: 1.5rem;
}
div.hero nav {
    font-size: 1.2rem;
    margin-right: 2rem;
    margin-left: auto;
}
div.hero nav ul {
    display: flex;
    justify-content: space-between;
    width: 30rem;
    align-items: center;
}
div.hero button,
div.main-info button {
    align-self: center;
    padding: 5px 25px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--clr-dark-brown);
    color: white;
    border-radius: 20px;
    border: unset;
}

div.main-info {
    padding: 10rem var(--padding-x);
}
div.main-info h2.larger {
    font-size: 3rem;
    font-weight: 900;
}
div.main-info p {
    font-weight: 500;
}
div.main-info p:first-of-type {
    margin-top: 40px;
}
div.main-info p:last-of-type {
    margin-bottom: 40px;
}
main section {
    padding: 3rem var(--padding-x);
    text-align: center;
}
main section h3 {
    font-size: 1.5rem;
    font-weight: 900;
}
main section p {
    margin-bottom: 2rem;
}
main section div.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
main section div.card-grid article {
    width: 100%;
    height: 34rem;
    overflow: hidden;
    border-radius: 10px;
}
main section div.card-grid article img {
    width: 100%;
    height: 60%;
    overflow: hidden;
    object-fit: cover;
}
main section div.card-grid article h4 {
    margin: 20px 0;
    font-weight: 900;
    font-size: 1.2rem;
}
main section div.card-grid article p {
    text-align: left;
    margin-bottom: 20px;
}
main section div.card-grid article button {
    font-size: 0.9rem;
    font-weight: 900;
    padding: 7px 25px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    height: 20vh;
    align-items: center;
    margin-top: 2rem;
}
footer .footer-flex {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

footer .footer-flex ul {
    font-size: 0.8rem;
}
footer .footer-flex ul li {
    padding-bottom: 10px;
}

footer ul.icons {
    align-self: center;
}

footer ul.icons div.icons-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
